.flagWrapper {
  margin: 1.25rem;
}

.flag {
  height: 2.8rem;
  width: 4.3rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgb(212, 207, 207);
}

@media only screen and (max-width: 720px) {
  .flag {
    height: 2.1rem;
    width: 3.7rem;
  }
}

@media only screen and (max-width: 430px) {
  .flag {
    display: none;
  }
}
